*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:16px;
}

.navbar{
  padding:2% 8% 0 8% ;
  font-weight: bolder;
  font-size:16px;
}
.navbar-brand{
  color:  #0492c2;
  opacity:0.8;
  font-size: 30px;
  font-weight: bolder;
}
.card-container{
  padding:8% 8% 8% 8% ;
}
